<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>Add Roles</title>
    </head>

    <body>

    <h3>Add Roles to User</h3>

    <div sec:authorize="!isAuthenticated()">
        <a href="/index"> Login </a>
    </div>

    <div sec:authorize="hasRole('ROLE_ADMIN')">

        <table id="userList" class="table table-striped" style="width:100%">
            <thead>
            <tr>
                <th>User</th>
                <th>Full Name</th>
                <th>Role</th>
                <th>Select Role</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user :${userList}">
                <td th:text="${user.userName}"> </td>
                <td th:text="${user.fullName}"></td>
                <td th:text="${user.role}"></td>
                <!-- Assign role button here
                <td> <button type="submit" th:onclick="generatePdf()" class="btn btn-danger">Generate PDF</button>
                -->
                </td>
            </tr>
            </tbody>
        </table>
    </div>




    </body>

</html>